@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
  display: none;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
@font-face {
  font-family: 'reg';
  src: url('./assets/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'med';
  src: url('./assets/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bol';
  src: url('./assets/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lig';
  src: url('./assets/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bolit';
  src: url('./assets/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'medit';
  src: url('./assets/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'elika', sans-serif; /* Use the custom font here */
  font-weight: normal;
  color: var(--color-primary);
}
.reg {
  font-family: 'reg', sans-serif; /* Fallback to a generic sans-serif font if needed */
  font-weight: normal;
}

.med {
  font-family: 'med', sans-serif;
  font-weight: 500; /* Use the medium font variant */
}

.bol {
  font-family: 'bol', sans-serif;
  font-weight: normal;
}
.lig {
  font-family: 'lig', sans-serif; /* Fallback to a generic sans-serif font if needed */
  font-weight: normal;
}

.medit {
  font-family: 'medit', sans-serif;
  font-weight: 500; /* Use the medium font variant */
}

.bolit {
  font-family: 'bolit', sans-serif;
  font-weight: normal;
}

.definecolor{
  background-color: 255 255 255;
  
  



}

.bg 
.topbar{
position: sticky;
top: 0px;
z-index: 49;
}
.separator {
  height: 10px;
  background-color: red;
  border: none;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
}

.dot {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fff;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}
/* Your CSS file or Tailwind CSS file */
.custom-horizontal-length {
  width: 100px;
   /* Adjust the width as needed */
}
.box-shadow {
 
  /* Box Shadow */
  box-shadow: 0px 3px 5px 0px grey;

}


.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}
.transition-transform {
  transition: font-size 1s ease-in-out;
}

@media (max-width: 600px) {
  .hidden-md {
    display: none;
  }
}
@media (max-width: 600px) {
  .custom-horizontal-length {
    min-width: 220px; /* Adjust the minimum width as needed */
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #4b79e4;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #2584f8;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

@layer base {
  :root {
    --color-bg: 255 255 255;
    --color-bg2: 20 20 20;
    --color-primary: 241 106 31;
    --color-secondary:86 81 167;
    --color-ascent1: 241 106 31;
    --color-ascent2: 8 0 37;
    --color-ascent3: 254 253 242;
    --color-ascent4: 94 130 143;


    --color-blue: 6 90 216;
    --color-white: 255 255 255;

  }


  
  /* //15 23 42  21 30 49*/
  [data-theme="dark"] {
     --color-bg: 20 20 20;
     --color-bg2: 255 255 255;
    --color-primary: 20 20 20;
    --color-secondary: 20 20 20;
    --color-ascent1: 241 106 32;
    --color-ascent2: 164 161 162;
    --color-ascent3: 20 20 20;
    --color-ascent4: 94 130 143;
    --color-blue: 6 90 216;
    /* //16 176 255; */
    --color-white: 255 255 255;
    
  }
}
